@charset "UTF-8";

/* CSS Document */

body {
	background-image: url(../img/bg.jpg);
	background-position: top center;
	background-size: auto;
}

footer {
	background-color: rgb(244, 111, 32);
	padding: auto;
	color: #fff;
	margin: 70px;
	width: 100%;
}
